<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Count</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products">
            <td><a href ui-sref="products.detail({'id':product._id})">{{product.name}}</a></td>
            <td>{{product.price}}</td>
            <td>{{product.count}}</td>
            <td><button class="btn btn-xs btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
